{% macro your_room(room) %}
<div class="card d-flex pt-0 pb-0 room-card"> 
   <img style="height:3rem;width:3rem;" class="h-img align-self-center pb-0 mb-0" src="{{url_for('static',filename='imgs/image.jpg')}}" class="card-img-top" alt="..."> 
   <div class="card-body d-flex flex-column mt-0 pt-0"> 
     <p class="card-title sm-card-title align-self-center">{{room.room_name}}</p> 
     <p class="card-text">MOTO: {{room.room_moto}}</p> 
     <button class="btn btn-primary align-self-center sm-btn pb-0 pt-0 mb-0 mt-0 enter" value="{{room.room_name}}" >Enter</button> 
   </div> 
 </div> 
{% endmacro %}

{% macro other_room(room) %}
<div class="card d-flex flex-row pt-0 pb-0 room-card room-cust"> 
 <img style="height:7rem;width:7rem;" class="align-self-center pb-0 mb-0" src="{{url_for('static',filename='imgs/image.jpg')}}" class="card-img-top" alt="..."> 

 <div class="card-body align-self-center d-flex flex-column mt-0 pt-0"> 
   <p class="card-title sm-card-title align-self-center">{{room.room_name}}</p> 
   <p class="card-text align-self-center">moto: {{room.room_moto}}</p> 
 </div> 

 <button class="btn btn-primary align-self-center sm-btn pb-0 pt-0 mb-0 mt-0 enter" value="{{room.room_name}}" >Join</button> 
</div> 

{% endmacro %}

{% macro left_msg_card() %}
<div style="max-width: 86%;" class="card mb-3 pb-0 ml-0">
  <div class="card-header d-flex">
    <img src="..." class="card-img-top align-self-start" alt="...">
    <span class="align-self-end">kibuule_noah</span>
  </div>
  <div class="card-body pb-0">
    <p class="card-text mb-0 pb-0">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text m-0 p-0" style="text-align: right;"><small class="text-body-secondary">12:00 am</small></p>
  </div>
</div>
{% endmacro %}

{% macro right_msg_card() %}
<div style="max-width: 86%;" class="card align-self-end mb-3 pb-0 ml-0">
  <div class="card-body pb-0">
    <p class="card-text mb-0 pb-0">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text m-0 p-0" style="text-align: right;"><small class="text-body-secondary">12:00 am</small></p>
  </div>
</div>
{% endmacro %}
