{% macro one_on_one(user_name) %}
<section id="one">
  <nav class="navbar bg-info mb-0" style="position: sticky;top: 0px;">
    <div class="container d-flex flex-column">
        <div class="align-self-end fs-1">
          <span class="navbar-brand">{{user_name}}</span>
          <img src="imgs/image.jpg" alt="" class="h-img">
          <!-- <img src="imgs/image.jpg" alt="" width="40px" height="40px" style="border: 3px solid #fff;border-radius: 50%;"> -->
        </div>
    </div>
  </nav>
  <nav class="navbar bg-info mb-3 mt-0" style="position: sticky;top: 0px;">
    <div class="container d-flex flex-column">
        <div class="align-self-start fs-1">
          <img src="imgs/image.jpg" alt="" class="h-img">
          <!-- <img src="imgs/image.jpg" alt="" width="40px" height="40px" style="border: 3px solid #fff;border-radius: 50%;"> -->
          <span class="navbar-brand">kibuule noah bash</span>
        </div>
    </div>
  </nav>

  <div id="messages-one" class="d-flex flex-column ml-0 pl-0"> <!--style="width: 100%;margin-left: 0px; padding-left: 0px; padding-right: 0px; margin-right: 0px;">-->
    <div class="card align-self-start mb-3 pb-0 ml-0">
      <div class="card-body pb-0">
        <p class="card-text mb-0 pb-0">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text m-0 p-0" style="text-align: right;"><small class="text-body-secondary">12:00 am</small></p>
      </div>
    </div>
    <div class="card align-self-end mb-3 pb-0 ml-0">
      <div class="card-body pb-0">
        <p class="card-text mb-0 pb-0">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text m-0 p-0" style="text-align: right;"><small class="text-body-secondary">12:00 am</small></p>
      </div>
    </div>
  </div>

  <div class="blur input-group position-fixed bottom-0 start-50 mb-3 translate-middle-x">
    <textarea class="form-control border-info" id="msginput-one" style="height: auto;"></textarea>
    <button class="btn btn-outline input-group-text" id="sendbtn-one"><i class="fs-1 fa fa-send-o" style="transform: rotate(20deg);:"></i></span>
  </div>
  <div id="bottompage" style="height: 65px;margin:90px;"></div>
<section/>
{% endmacro %}
