{% from "cards.html" import right_msg_card,left_msg_card %}
{% macro room(title) %}
<section id="chat-room">
  <nav class="navbar bg-info mb-3" style="position: sticky;top: 0px;">
    <div class="container d-flex">
      <button id="exit-room" class="navbar-brand align-self-start fs-1" style="background-color: inherit;border: 0px;"><i class="bi bi-box-arrow-left"></i></button>
      <span id="room-title" class="navbar-brand align-self-center fs-1"></span>
      <div class="navbar-brand align-self-end fs-1">
        <img id="room-nav-img" src="" alt="" width="50px" height="50px" style="border: 3px solid #fff;border-radius: 50%;">
      </div>
    </div>
  </nav>
  <div id="messages" class="d-flex flex-column ml-0 pl-0"> <!--style="width: 100%;margin-left: 0px; padding-left: 0px; padding-right: 0px; margin-right: 0px;">-->
  </div>
  <div class="blur input-group position-fixed bottom-0 start-50 mb-3 translate-middle-x">
    <textarea class="form-control border-info" id="message-input" style="height: auto;"></textarea>
    <button class="btn btn-outline input-group-text" id="send-btn"><i class="fs-1 fa fa-send-o" style="transform: rotate(20deg);:"></i></span>
  </div>
  <div id="bottompage" style="height: 65px;margin:90px;"></div>

</section>
{% endmacro %}
