/* body{ */
/*   display: flex; */
/*   align-items: center; */
/*   justify-content: center; */
/* } */
/* .already{ */
/* } */
html{
  scroll-behavior: smooth;
}

.profile{
  display: grid;
  color: green;
  grid-template-areas: 
    "photo photo"
    "name Name"
    "freinds Num-Freinds"
    "totalmessages Num-messages";
  gap: 3;
  border: 3px solid;
  padding: 4px;
  /* align-items: center; */
  /* justify-content: center; */
}

.photo{
  grid-area: photo;
}
.name{
  grid-area: name;
}
.Name{
  grid-area: Name;
}
.freinds{
  grid-area: freinds;
}
.Num-Freinds{
  grid-area: Num-Freinds;
}

.totalmessages{
  grid-area: totalmessages;
}
.Num-messages{
  grid-area: Num-messages;
}

.change-btns{
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.card{
  position: static;
  max-width: 86%;
}

.blur{
  backdrop-filter: blur(2px);
}

.h-img{
  border: 3px solid white;
  border-radius: 50%;
  width: 3ex;
  height: 3ex;

}

.text-body-secondary{
  font-size: 50%;
  /* color: #00000062; */
  color: rgba(0, 0, 0, 89);
}

#chat-room{
  display: none;
}

#create-btn{
  border: 0 !important;
  border-radius: 0 !important;
}

#create-btn:active,#create-btn:hover{
  background: rgba(0, 10, 255, .70) !important;
}

.sm-btn{
  font-size: .65rem !important;
  width: 4rem !important;
  height: 1.5rem !important;
}
.sm-card-title{
  font-size: .75rem !important;
}

.room-card{
  padding: 0 !important;
}

.room-card{
  border: 1px solid #eaeaea;
  margin-left: 10px;
  margin-top: 20px;
  border-radius: 5px;
  width: 8rem;
  height: 8rem;
  font-size: 40%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.room-card:hover,.room-card:active {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.room-cust{
  width: 25rem;
  height: 8rem;
  font-size: 40%;
}

.del-btn:disabled{
  color: #D7B7B7;
}
